<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Sobre Nós</title>
</head>
<body>
    <h1>{{ Titulo }}</h1>
    <div class="card">
        <p>Este site foi criado para explorar as melhores opções de viagens com lindas imagens dos destinos,</p>
       <p> ajudando você a escolher o lugar perfeito para sua próxima aventura. Tudo isso você encontra no nosso site!"</p>
    </div>
    <div class="voltar">
    <a href="/">
        <img class="seta" src="/static/setaEsquerda.png">
        Voltar à Página Inicial</a>
    </div>
</body>
</html>
