<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Viagens</title>
</head>
<body>

    <h1>{{ Titulo }}</h1>
    <div class="card">
        <img src="/static/aviao.gif">
    </div>
    <div class="card">
        <img src="/static/chile.jpg">
    </div>
    <div class="card">
        <img src="/static/passaporte.jpg">
    </div>
    <div class="card">
        <img src="/static/ceu.gif">
    </div>
    <div class="card">
        <img src="/static/paris.jpg">
    </div>
    <div class="card">
        <img src="/static/londres.jpg">
    </div>
    <div class="card">
        <img src="/static/roma.jpg">
    </div>
    <div class="card">
        <img src="/static/chile.jpg">
    </div>
    <div class="card">
        <img src="/static/praia.gif">
    </div>
    <div class="voltar">
    <a href="/">
        <img class="seta" src="/static/setaEsquerda.png">
        Voltar à Página Inicial</a>
    </div>
</body>
</html>